<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculo</title>
</head>

<body>
  <h2>{{ profile.name }}</h2>
  <div>GitHub: {{ profile.github }}</div>
  <p>LinkedIn: {{ profile.linkedin }}</a></p>
  <div>Bio: {{ profile.bio }}</div>

  <h3>Projetos</h3>

  {% for x in profile.projects.all %}
  <div>{{ x.name }}</div>
  <div>Description: {{ x.description }}</div>
  <div>Github URL: {{ x.github_url }}</div>
  <div>Keyword: {{ x.keyword }}</div>
  <div>Key Skill: {{ x.key_skill }}</div>
  {% endfor %}


  <h3>Certificados</h3>
  <ul>
    {% for x in profile.certificates.all %}
    <li>{{ x.name }} ({{ x.certifying_institution.name }})</li>
    {% endfor %}
  </ul>

  <h3>Institutos</h3>
  <ul>
    {% for x in profile.certifying_institutions.all %}
    <li>{{ x.name }} ({{ x.url }})</li>
    {% endfor %}
  </ul>
</body>

</html>