<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h2>{{ profile.name }}</h2>
  <a href="{{ profile.github }}">Github</a>
  <a href="{{ profile.linkedin }}">Linkedin</a>
  <p>{{ profile.bio }}</p>
  <h3>Projetos</h3>
  <ul>
    {% for project in profile.projects.all %}
    <li>
      {{ project.name }}
      {{ project.description }}
      <a href="{{ project.github_url }}">Github</a>
      {{ project.keyword }}
      {{ project.key_skill }}
    </li>
    {% endfor %}
  </ul>
  <h3>Certificações</h3>
  <ul>
    {% for certificate in profile.certificates.all %}
    <li>
      {{ certificate.name }}
      {{ certificate.certifying_institution.name}}
    </li>
    {% endfor %}
  </ul>
  <h3>Instituições</h3>
  <ul>
    {% for institution in profile.certifying_institutions.all %}
    <li>
      {{ institution.name }}
      {{ institution.url }}
    </li>
    {% endfor %}
  </ul>
</body>
</html>